<div class="container">
  <div class="row">
    <div>
      <h1>
        {{title}}
      </h1>
    </div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <a class='navbar-brand' href='#'>Demo App</a>
        <ul class="nav navbar-nav">
          <li> <a [routerLink]="['/home']"> Home  </a>
            <li><a [routerLink]="['/about']"> About Me </a>
              <li><a [routerLink]="['/contact']"> Contact Us </a>

        </ul>
      </div>
    </nav>
    <div class="col-md-8">
      <div class="well">
        <router-outlet></router-outlet>
      </div>
    </div>

    <div class="col-md-4">
      <ul>
        <li><a [routerLink]="['/home','login']"  > LogIn </a>

              <li><a [routerLink]="['/home','signup']"> SignUp </a>
      </ul>
    </div>

    <div class="col-md-12"> <footer>
      <h4 class="pull-right text-primary"> SMTech World 2017</h4>
      </footer>
    </div>
  </div>
</div>